.DS_Store
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/versions
**/build
**/dist
**/i18n/*
!**/i18n/en
**/IGNORE.md*
**/node_modules
**/out
**/TODO.md
**/tsconfig.tsbuildinfo
**/.cache
**/.env
**/.env.*
!**/.env.example
**/.svelte-kit
**/.tsbuildinfo
