.DS_Store
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/versions
**/build
**/dist
**/IGNORE.md*
**/node_modules
**/out
**/tsconfig.tsbuildinfo
**/.cache
**/.env
**/.env.*
!**/.env.example
**/.svelte-kit
**/.tsbuildinfo
