**/.DS_Store
**/build
**/dist
**/i18n/*
!**/i18n/en
**/IGNORE.md*
**/node_modules
**/out
**/pnpm-lock.yaml
**/TODO.md
**/tsconfig.tsbuildinfo
**/.cache
**/.env
**/.env.*
!**/.env.example
**/.gitignore
**/.prettierignore
**/.tsbuildinfo
**/.vscode
